.listtransfer{
    flex:4;
    padding: 4px;
    margin-top: 1.2em;
    background-color:rgb(206, 204, 204);
    border-radius: 12px;
}
.dateDisplay{
    font-weight: blod;
    font-size: 18px;
    margin: 0px 10px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.tableDisplay{
    margin-top: 3em;
    
}
.datecontent{
     justify-content: center;
    background-color: rgb(255, 255, 255);
   
}
.buttoncontent{
    justify-content: center;
    background-color: rgb(255, 255, 255);  
}